<div class="change-password">
    <h2>Change Password</h2>
    <div class="text-message" *ngIf="errorMessage || successMessage" [ngClass]="{'error-message': errorMessage, 'success-message': successMessage}">
      {{ errorMessage ? errorMessage : successMessage }}
    </div>
    
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" formControlName="currentPassword" class="form-control" id="currentPassword">
        <!-- <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)" class="text-danger">
            Password does not exists
          </div> -->
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" class="form-control" id="newPassword">
      </div>
      <div class="form-group">
        <label for="confirmNewPassword">Confirm New Password</label>
        <input type="password" formControlName="confirmNewPassword" class="form-control" id="confirmNewPassword">
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
  