/* add-user.component.css */

/* Form container */
.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Form labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Form input fields */
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  /* Submit button */
  button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
  /* Disabled button style */
  button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  /* Trong file create-user.component.css */
.success-message {
  background-color: #5cb85c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

  